NODEMAILER_MAIL=email for sending registration and password reset emails
NODEMAILER_PASSWORD=SMTP password for the email address specified in NODEMAILER_MAIL
NODE_ENV=development|production
PORT=8000
SUPPORT_MAIL=email for receiving support requests
ZOHO_BASE_URL=base URL for Zoho API
ZOHO_CLIENT_ID=client ID for Zoho API
ZOHO_CLIENT_SECRET=client secret for Zoho API
ZOHO_REFRESH_TOKEN=refresh token for Zoho API
ZOHO_SCOPE=permissions for Zoho API access, comma separated list of scopes